@{
    ViewData["Title"] = "Acerca de";
}

<div style="text-align:center; margin-top:50px;">
    <img src="~/images/logoulatina.png" alt="Universidad Latina de Costa Rica" style="max-width:300px;" />
    <h2 style="margin-top:50px; font-size:48px">Proyecto Final</h2>
    <br />
    <h1 style="color: darkblue">Campeonato Internacional</h1>
    <h1 style="color: darkblue">de BattleFight</h1>
    <br />
    <br />
    <h1 style="font-size: 32px">
        Campeonato Internacional de BattleFight es un aplicativo diseñado para gestionar la información relacionada con los torneos, equipos y usuarios involucrados.
    </h1>
    <p style="margin-top:50px; font-size: 22px;">Allan Hidalgo Thompson</p>
    <p style=" font-size: 22px;">David Leonardo Abarca Chaves</p>
    <p style="font-size: 22px;">Eduardo Planelles Ramírez</p>
    <p style="font-size: 22px;">Geysell Rivas Barrera</p>
    <p style="margin-top:50px; font-size: 26px;">BIS10 – Programación IV</p>
    <p style="margin-top:50px; font-size: 22px;">Profesora: Adriana Stephanie Rubio Escobar</p>
    <p style="margin-top:50px; font-size: 22px;">Diciembre, 2024</p>
    <img src="~/images/DALL.jpg" style="max-width:300px;" />
</div>
