{% extends "layout.html" %}

{% block title %} Empleados {% endblock %}  


{% block content %}

    <h2>Acceso Administrador: Edición de Empleados</h2>
    <h3>{{ mensaje }}</h3>

    <form action="/seleccion_empleado" method="POST">

        <label for="Empleado">Por favor selecciona el empleado deseado: </label>
        <select name="Empleado" id="Empleado">
            
            {% for id, nombre_empleado in empleados.items() %}
            
                <option value="{{ id }}"> {{ nombre_empleado }} </option>

            {% endfor %}

        </select>

        <button type="submit">Seleccionar</button>

    </form>




    <form action="/crear_empleado" method="POST">

        <button type="submit" name="action" value="create">Agregar Empleado Nuevo</button>

    </form>




    {% if data %}

    <form action="/edicion_empleado" method="POST">

         <!-- Creación de tabla-->
        <table>
            <tr>  <!-- Table Row -->
                <td><label for="id">ID:</label></td> <!-- Table Data -->
                <td><input type="text" name="id" id="id" value="{{ data[4] }}" readonly></td>
            </tr>
            <tr>
                <td><label for="nombre">Nombre:</label></td>
                <td><input type="text" name="nombre" id="nombre" value="{{ data[0]+' '+data[1] }}" required></td>
            </tr>
            <tr>
                <td><label for="correo">Correo Electrónico:</label></td>
                <td><input type="text" name="correo" id="correo" value="{{ data[2] }}" required></td>
            </tr>
            <tr>
                <td><label for="salario">Salario Bruto:</label></td>
                <td><input type="number" name="salario" id="salario" value="{{ data[3] }}" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" name="action" value="update">Realizar Cambios</button>
                    <button type="submit" name="action" value="delete">Eliminar Empleado</button>
                </td>
            </tr>
        </table>
    </form>

    {% endif %}


    {% if validar %}

    <form action="/creacion" method="POST">
        <table>
            <tr>
                <td><label for="name">Nombre:</label></td>
                <td><input type="text" name="name" id="name" placeholder="Ingrese el nombre aquí" required></td>
            </tr>

            <tr>
                <td><label for="lastname">Apellido:</label></td>
                <td><input type="text" name="lastname" id="lastname" placeholder="Ingrese el apellido aquí" required></td>
            </tr>

            <tr>
                <td><label for="email">Correo Electrónico:</label></td>
                <td><input type="text" name="email" id="email" placeholder="ejemplo@correo.com" required></td>
            </tr>
            <tr>
                <td><label for="money">Salario Bruto:</label></td>
                <td><input type="number" name="money" id="money" placeholder="####" required></td>
            </tr>
        
            <tr>
                <td colspan="1">
                    <button type="submit" name="action" value="commit_creation">Confirmar Creacion</button>
                </td>
            </tr>
        </table>
    </form>

    {% endif %}

     
{% endblock %}