<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>

    <p>{{result}}</p> <!--Muestro la variable que le envie desde routes en un parrafo-->
    <button><a href="/">Log out</a></button> <!--Un boton de volver con el enlace a home(/)-->
    <button><a href="/home">Continue</a></button>

    
    <!--Pie de pagina-->
    <footer> 
        <p>&copy; Programacion 3 - Universidad Latina - 2024</p> <!--Agregar un parrafo-->
    </footer>

</body>
</html>